@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AppBar{
  border: 1px solid #000000;
}

.book-list{
  list-style: none;
}

.book-item {
  margin-bottom: 10px;
}

.book-link{
  color: darkslategrey;
  text-decoration: none;
  padding: 5px 10px;

}

.movie_genres{
  display: inline;
}

.movie_genres:not(:last-child){
  margin-right: 10px;

}


.movie_card{
  display: flex;
  gap: 15px;
}

.movie_image{
  width: 250px;
}

.cast-and-reviews {
  padding: 20px 0;
  min-height: 300px;
}

.cast_actor--list{
  /* padding: 20px 0; */
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
}
.cast_actor--image{
  width: 100px;
  /* height: 150px; */
}

.cast_actor--item{
  margin-right: 15px;
  width: 100px;
}

.movies_search {
  padding: 20px 0;
}

.movies_search--input{
  margin-right: 5px;
  width: 40%;
  /* height: 20px; */
}